.red_border {
	border: red 1px solid;
}
.red_border_0 {
	border: red 1px solid;
}
.red_border_1 {
	border: red 1px dotted;
}
.red_border_2 {
	border: red 1px dashed;
}
.red_border_3 {
	border: blue 1px solid;
}
.red_border_4 {
	border: blue 1px dotted;
}
.red_border_5 {
	border: blue 1px dashed;
}

.right_mark {
	position: absolute;
	left: 0;
    top: 0;

	background-color: red;
	color: white;
}